@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .w-192{
        width:192px
    }
    .h-360{
        height:360px
    }
    .bg-slateblue{
        background-color:slateblue
    }
    .w-92{
        width:92px
    }
}